/* latin-ext */

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.footer {
	background: #203470;
	font-family: Raleway, sans-serif;
	color: #ffffff;
	letter-spacing: 1px;
}

.error{
	color: red;
	visibility: hidden;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu:after, #cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#cssmenu #menu-button {
	display: none;
}

#cssmenu {
	width: auto;
	font-family: Raleway, sans-serif;
	line-height: 1;
}

#cssmenu>ul {
	background: #203470;
}

#cssmenu>ul>li {
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

#cssmenu>ul>li:last-child {
	float: right;
}

#cssmenu.align-center>ul {
	font-size: 0;
	text-align: center;
}

#cssmenu.align-center>ul>li {
	display: inline-block;
	float: none;
}

#cssmenu.align-right>ul>li {
	float: right;
}

#cssmenu>ul>li>a {
	padding: 16px 20px;
	font-size: 14px;
	color: #ffffff;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	background: #203470;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#cssmenu>ul>li.active>a {
	color: #ffffff;
}

#cssmenu>ul>li:hover>a, #cssmenu>ul>li>a:hover {
	color: #ffffff;
	background-color: #3db2e1;
}

/* #cssmenu>ul>li>a::before {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: -1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 16px 20px;
	color: #dff2fa;
	background: #203470;
	content: attr(data-title);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-ms-transform: translateY(- -18px);
} */

#cssmenu>ul>li:hover>a::before, #cssmenu>ul>li>a:hover::before {
	background: #3db2e1;
}

#cssmenu.small-screen {
	width: 100%;
}

#cssmenu.small-screen>ul, #cssmenu.small-screen.align-center>ul {
	width: 100%;
	text-align: left;
}

#cssmenu.small-screen>ul>li, #cssmenu.small-screen.align-center {
	float: none;
	display: block;
	border-top: 1px solid rgba(100, 100, 100, 0.1);
}

#cssmenu.small-screen>ul>li:hover>a, #cssmenu.small-screen>ul>li>a:hover {
	color: #dff2fa;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	-ms-transform: none;
}

#cssmenu.small-screen>ul>li>a::before {
	display: none;
}

a {
	color: inherit;
}

a:visited {
	text-decoration: none;
}

#cssmenu.small-screen #menu-button {
	display: block;
	padding: 16px 20px;
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #3db2e1;
}

#cssmenu.small-screen #menu-button:after {
	content: "";
	position: absolute;
	right: 20px;
	top: 17px;
	display: block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	width: 22px;
	height: 3px;
}

#cssmenu.small-screen #menu-button.menu-opened:after {
	border-top: 2px solid #dff2fa;
	border-bottom: 2px solid #dff2fa;
}

#cssmenu.small-screen #menu-button:before {
	content: "";
	position: absolute;
	right: 20px;
	top: 27px;
	display: block;
	width: 22px;
	height: 2px;
	background: #ffffff;
}

#cssmenu.small-screen #menu-button.menu-opened:before {
	background: #dff2fa;
}

/* ==========================================================================
   #FONT
   ========================================================================== */

.font-robo {
	font-family: Raleway, sans-serif;
}

.font-poppins {
	font-family: Raleway, sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.row-space {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.col-2 {
	width: -webkit-calc((100% - 30px) / 2);
	width: -moz-calc((100% - 30px) / 2);
	width: calc((100% - 30px) / 2);
}

@media (max-width: 767px) {
	.col-2 {
		width: 100%;
	}
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */

/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */

/**
 * A very simple reset that sits on top of Normalize.css.
 */

button {
	outline: none;
	background: none;
	border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */

.page-wrapper {
	min-height: 661px;
}

body {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 16px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */

.bg-gra-02 {
	background: -webkit-gradient(linear, bottom, top, from(#8DA5ED), to(#203470));
	background: -webkit-linear-gradient(bottom, #8DA5ED 0%, #203470 100%);
	background: -moz-linear-gradient(bottom, #8DA5ED 0%, #203470 100%);
	background: -o-linear-gradient(bottom, #8DA5ED 0%, #203470 100%);
	background: linear-gradient(to top, #8DA5ED 0%, #203470 100%);
}

/* ==========================================================================
   #SPACING
   ========================================================================== */

.p-t-30 {
	padding-top: 30px;
	/* padding-bottom: 100px; */
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.wrapper {
	margin: 0 auto;
}

.wrapper--w960 {
	max-width: 960px;
}

.wrapper--w660 {
	max-width: 660px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */

.btn {
	display: inline-block;
	line-height: 50px;
	padding: 0 50px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor: pointer;
	font-size: 18px;
	color: #fff;
	font-family: Raleway, sans-serif;
}

.btn--radius {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn--radius-2 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn--pill {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.btn--blue {
	background: #4272d7;
}

.btn--blue:hover {
	background: #3868cd;
}

/* ==========================================================================
   #FORM
   ========================================================================== */

input {
	outline: none;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 100%;
	font-size: 14px;
	font-family: Raleway, sans-serif;
}

.input--style-4 {
	line-height: 50px;
	background: #f6f5ff;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 20px;
	font-size: 16px;
	color: #666;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #666;
}

.input--style-4:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #666;
	opacity: 1;
}

.input--style-4::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #666;
	opacity: 1;
}

.input--style-4:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #666;
}

.input--style-4:-ms-input-placeholder {
	/* Microsoft Edge */
	color: #666;
}

.label {
	font-size: 16px;
	color: #555;
	text-transform: capitalize;
	display: block;
	margin-bottom: 5px;
}

.input-group {
	position: relative;
	margin-bottom: 22px;
}

.input-group-icon {
	position: relative;
}

.input-icon {
	position: absolute;
	font-size: 18px;
	color: #999;
	right: 18px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */

.title {
	font-size: 24px;
	color: #525252;
	font-weight: 400;
	margin-bottom: 40px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */

.card {
	opacity: 0.95;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
}

.card-4 {
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
	padding: 57px 65px;
	padding-bottom: 57px;
}

@media (max-width: 767px) {
	.card-4 .card-body {
		padding: 50px 40px;
	}
}